@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --one: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxr;
}

html {
    font-family: Poppins;
}

/* HEADER STYLING */

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(var(--one), white);
}

.head-heading {
    font-family: Playwrite ar;
    font-size: 1.5rem;
    text-align: center;
}

.head-content {
    text-align: center;
    padding: 1rem;
}

.hover-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}

/* HEADER SWIPER */

.swiper {
    height: 260px;
    width: 300px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    background-color: white;
}

.ss-img img {
    width: 100%;
    height: 80%;
}

.ss-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN STYLING */

main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.section-heading {
    font-size: 4rem;
    color: var(--one);
    text-align: center;
}

/* ABOUT US SECTION */

#about-us {
    display: flex;
    gap: 6px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-us-img {
    text-align: center;
}

.about-us-img img {
    width: 80%;
}

.about-us-heading {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.about-us-text {
    padding: 3px;
}

/* AMENITIES */

.amenities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.amenity {
    width: 50%;
}

.amenity img {
    width: 100%;
}

.amenity p {
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
}

/* GALLERY */

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.swiper-slide img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--one);
    padding-top: 1rem;
}

.foot-logo img {
    width: 40%;
}

.real-map {
    width: 100%;
}